<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to "The Rial News", root_path, class: "navbar-brand" %>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <% if current_user.name.present? %>
              <span class="nav-link">Hola: <%= current_user.name %></span>
            <% else %>
              <span class="nav-link">Hola <%= current_user.email %></span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "Editar perfil", edit_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= button_to "Salir", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Crea tu cuenta", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Ingresa", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
