<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(post.errors.count, "error") %> prohibieron guardar esta noticia:</h4>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label :Titulo, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :Articulo, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :imagen, class: "form-label" %>
    <%= form.file_field :image, class: "form-control" %>
  </div>
  <div class="d-flex justify-content-between ">
    <%= link_to "Volver a las noticias", posts_path, class: "btn btn-secondary mt-3" %>
    <%= form.submit "Guardar", class: "btn btn-success mt-3" %>
  </div>
<% end %>
